name: Test Reusable Workflow

on:
  workflow_dispatch: {}

jobs:
  test-build-map:
    uses: ./.github/workflows/build-map.yml
    with:
      runs-on: blacksmith-8vcpu-ubuntu-2404
      server-directory: test/test-onlinemap
      netlify-site-id: 0e027990-adef-4b7f-99e1-957d387a9128
      deploy-to-netlify: true
    secrets:
      PTERODACTYL_PANEL_URL: ${{ secrets.PTERODACTYL_PANEL_URL }}
      PTERODACTYL_API_KEY: ${{ secrets.PTERODACTYL_API_KEY }}
      NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
